1. Convert an integer to a floating-point number.

In [1]:
x=15
y=float(15)
type(y)

float

In [2]:
y

15.0

2. Convert a float to an integer.

In [3]:
a=12.7
b=int(a)
b

12

In [4]:
type(b)

int

3. Covert an integer to a string.

In [5]:
int=45
int_to_str=str(int)
int_to_str

'45'

In [6]:
type(int_to_str)

str

4. Convert a list to a tuple.

In [7]:
list1=[1, 2, "apple", "data science"]
tuple1=tuple(list1)
tuple1

(1, 2, 'apple', 'data science')

5. Convert a tuple to a list.

In [8]:
tuple2=(1, 2, 'orange', 'PW Skills')
list2= list (tuple2)
list2

[1, 2, 'orange', 'PW Skills']

6. Convert a decimal number to binary.

In [9]:
decimal_number=18
binary_number=bin(decimal_number)
binary_number

'0b10010'

7. Convert a non-zero number to boolean.

In [10]:
number=5
bool_value=bool(number)
bool_value

True