1. Convert an integer to a floating-point number.

In [1]:
x=15
y=float(15)
type(y)

float

In [2]:
y

15.0

2. Convert a float to an integer.

In [3]:
a=12.7
b=int(a)
type(b)

int

In [4]:
b

12

3. Covert an integer to a string.

In [5]:
int=45
int_to_str=str(int)
type(int_to_str)

str

In [7]:
int_to_str

'45'

4. Convert a list to a tuple.

In [8]:
list=[1, 2, "apple", "data science"]
tuple=tuple(list)
type(tuple)

tuple

In [9]:
tuple

(1, 2, 'apple', 'data science')

5. Convert a tuple to a list.

In [24]:
my_tuple=(1, 2, 'orange', 'PW Skills')
my_list= list (my_tuple)
my_list

SyntaxError: invalid syntax (1225726417.py, line 2)

6. Convert a decimal number to binary.

In [17]:
decimal_number=18
binary_number=bin(decimal_number)
binary_number

'0b10010'

7. Convert a non-zero number to boolean.

In [19]:
number=5
boolean_value=bool(number)
boolean_value

True